/* Reset default styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Base style for the page body */
body {
	margin: 0;
	padding-bottom: 60px;
	background-color: rgb(14, 114, 114);
	/* Footer height */
}

/* Main container */
.container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
}

/* Columns inside the container */
.col {
	width: 100%;
	max-width: 500px;
	margin: 10px 0;
	padding: 10px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	align-items: center;
}

/* Main title */
h1 {
	font-size: 24px;
	margin-bottom: 20px;
	text-align: center;
}

/* Form */
form {
	margin-bottom: 20px;
}


/* Text field label */
label {
	display: block;
	margin-bottom: 5px;
}

/* Text field */
textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	resize: none;
}

/* Banner type selector */
select {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 10px 0px;
}

/* Submit button */
input[type="submit"] {
	width: 100%;
	padding: 10px;
	background-color: #333;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

/* ASCII Art result */
.result {
	font-family: monospace;
	font-size: 10px;
	white-space: pre-wrap;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #f9f9f9;
	font-weight: bold;
	width: 80%;
	margin: 30px auto;
	text-align: justify;
	color: black;

}

pre {
	max-width: 100%;
	overflow: auto;
}

.content-wrapper {
	max-height: 120vh;
	position: relative;
}

/* Footer styles */
/* Footer styles */
footer {
	position: relative;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 50%;
	background-color: rgb(14, 114, 114);
	color: black;
	padding: 20px 0;
	margin: 10px 0;
	text-align: center;
	perspective: 1000px;
	border-radius: 10%;
	border: #ccc solid;
	font-weight: 800;
	font-size: 18px;
	
}


/* Rest of the CSS remains the same */


footer a {
	color: #fff;
	text-decoration: none;
}

/* 3D effect */
.footer-content {
	position: relative;
	display: inline-block;
	transform-style: preserve-3d;
	transform: rotateX(45deg);
}

.footer-content:before,
.footer-content:after {
	content: "";
	position: absolute;
	background-color: #111;
	width: 100%;
	height: 50%;
	left: 0;
	bottom: -100%;
	transform: rotateX(-90deg);
	transform-origin: bottom;
	transition: transform 0.3s ease-in-out;
}

.footer-content:before {
	transform-origin: top;
	top: -100%;
	bottom: auto;
}

.footer-content:hover:before,
.footer-content:hover:after {
	transform: rotateX(0);
}
.felem{
	color: #fff;
	font-weight: 500;
	font-size: 18px;
	font-style: oblique;
}

@media (max-width: 768px) {
	.content-wrapper {
		min-height: 40vh;
		position: relative;
		max-height: auto;
	}

	.result {
		font-size: 3px;
	}
	footer{
		margin: 80px 0;
	}
}
