/* Reset default styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Base style for the page body */
body {
	margin: 0;
	padding-bottom: 60px;
	background-color: rgb(14, 114, 114);
	/* Footer height */
}

/* Columns inside the container */
.col {
	width: 100%;
	max-width: 500px;
	margin: 10px 20px;
	padding: 10px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	align-items: center;
}

/* Main title */
h1 {
	font-size: 24px;
	margin-bottom: 20px;
	text-align: center;
}

/* Main container */
.container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 500px;
	margin: 10px auto;
	flex: 1; /* Occupe tout l'espace disponible */
}

form {
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
}

/* Download button container */
.downloadDiv {
	width: 100%;
	max-width: 400px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
  }
  

/* Text field label */
label {
	display: block;
	margin-bottom: 5px;
}

/* Text field */
textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	resize: none;
}

/* Banner type selector */
select {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 10px 0px;
}

/* Submit button */
input[type="submit"] {
	width: 100px;
	padding: 10px;
	background-color: #333;
	color: #fff;
	border: none;
	border-radius: 5px;
	margin: 10px 0px;
	cursor: pointer;
}

/* Download button */
input[type="button"] {
	width: 200px;
	padding: 10px;
	background-color: #333;
	color: #fff;
	border: none;
	border-radius: 5px;
	margin: 10px 0px;
	cursor: pointer;
  }
.content-wrapper{
	margin: 0 20px;
}
a{
	text-decoration: none;
}

/* ASCII Art result */
.result {
	font-family: monospace;
	font-size: 10px;
	white-space: pre-wrap;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #f9f9f9;
	margin: 0 10px;
	height: 300px; /* Hauteur fixe de 300 pixels (ajustez selon vos besoins) */
	overflow-y: auto; /* Ajoute une barre de défilement verticale si nécessaire */
  }
  
pre{
	
	overflow: scroll;
}

@media (max-height: 819px) {
	.col {
		height: auto; /* Ajuste la hauteur en fonction du contenu */
	}
}
