<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="css/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="css/error.css">
  <title>Bad Request</title>
</head>
<body>
  <h1>Error 400</h1>
  <div>
    <img src="css/400.gif" width="600px" height="200px" frameBorder="0" class="giphy-embed" allowFullScreen alt="">
  </div>
  <p>The server could not understand your request.</p>
  <p>Please check the URL or try again later.Go back to the <a href="/">homepage</a></p>
</body>
</html>
