<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="css/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="css/error.css">
  <title>Method Not Allowed</title>
</head>
<body>
  <h1>Error 405</h1>
  <div>
    <img src="css/405.gif" width="600px" height="200px" frameBorder="0" class="giphy-embed" allowFullScreen alt="">
  </div>
  <p>The requested method is not allowed.</p>
  <p>Please check your request or contact the administrator.Go back to the <a href="/">homepage</a></p>
</body>
</html>
