<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="css/favicon.ico" type="image/x-icon">
  <title>Bad request</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f5f5f5;
      color: #333;
      text-align: center;
      padding: 50px;
    }

    h1 {
      font-size: 36px;
      margin-bottom: 20px;
    }

    p {
      font-size: 18px;
      margin-bottom: 20px;
    }
  </style>
</head>
<body>
  <h1>Error 400</h1>
  <p>The request you're looking for could not be found.</p>
  <p>Please check the request or go back to the <a href="/">homepage</a>.</p>
</body>
</html>
