<!DOCTYPE html>
<html>
<head>
	<title>ASCII Art Generator</title>
	<link rel="icon" href="css/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<section>
		<div class="content-wrapper">
	<div class="container">

		<div class="col">
			<div style="width: 100%; height: 0; padding-bottom: 67%; position: relative; display: flex; justify-content: center;">
	
					<img src="css/giphy.gif" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen alt="">
			</div>
			
			<h1>Open source ASCII Art Generator by <a href="https://github.com/ialim0" target="_blank">@ialim</a></h1>
			
			<form action="/ascii-art" method="POST">
				<label for="text">Type your text:</label><br>
				<textarea name="text" id="text" rows="10" cols="50" required></textarea><br>

				<label for="banner">Choose your banner type:</label>
				<select name="banner" id="banner" required>
					<option value="standard">Standard</option>
					<option value="shadow">Shadow</option>
					<option value="thinkertoy">Thinkertoy</option>
					<option value="graffiti">Graffiti</option>
				</select><br>

				<input type="submit" value="SUBMIT">
			</form>
		</div>
		<div class="cresult">
			{{ if .Result }}
			
				<div class="result">
				
				<pre>	{{ .Result }}</pre>
				   
				</div>
			{{ end }}
		</div>
	
	</div>
</div>
		
</section>

  
</body>
<footer style="background-color: #f8f8f8; padding: 20px; text-align: center;">
	<p style="font-size: 14px; color: #666;">Design by <a href="https://github.com/ialim0" target="_blank">@ialim</a><br>Stack used 👍:<i>    Backend: Golang❤️ , Frontend: HTML, CSS.</i> </p>
	<div style="margin-top: 10px;">
		<strong><a href="https://github.com/ialim0" style="text-decoration: none; color: #999; margin-right: 10px;" target="_blank">@ialim</a></strong>
	  <strong><a href="" style="text-decoration: none; color: #999;" target="_blank">Contact</a></strong>
	</div>
</footer>
</html>
